[Unit]
Description=web consoles deamon
After=network-online.target

[Service]
User=root
WorkingDirectory=
ExecStart=
Restart=always

[Install]
WantedBy=multi-user.target